<%-include("./partials/header") %> <%- include("./partials/navbar") %>
<h1>Create</h1>
<div class="w-full mt-20 flex items-center justify-center">
  <form
    class="px-10 flex flex-col gap-2 items-center"
    action="/expense/create"
    method="post"
  >
    <input
      class="border border-slate-300 px-4 py-2 rounded-md w-72 outline-none bg-transparent"
      type="text"
      name="title"
      placeholder="Title"
    />
    <input
      class="border border-slate-300 px-4 py-2 rounded-md w-72 outline-none bg-transparent"
      type="number"
      name="amount"
      placeholder="Amount"
    />
    <input
      class="border border-slate-300 px-4 py-2 rounded-md w-72 outline-none bg-transparent"
      type="text"
      name="category"
      placeholder="category"
    />
    <input
      class="border border-slate-300 px-4 py-2 rounded-md w-72 outline-none bg-transparent"
      type="text"
      name="remark"
      placeholder="remark"
    />
    <input
      class="border border-slate-300 px-4 py-2 rounded-md w-72 outline-none bg-transparent"
      type="text"
      name="paymentmode"
      placeholder="payment mode"
    />
    <button class="bg-green-400 py-2 px-3 w-72 text-white font-bold text-md rounded">
      Submit
    </button>
  </form>
</div>
<%-include("./partials/footer") %>
