<%-include("./partials/header") %> <%- include("./partials/navbar") %>
<h1>Create</h1>
<div class=" flex items-center justify-center">
  <form
    class="px-10 bg-white rounded-lg py-4 flex flex-col gap-2 items-center shadow shadow-gray-800"
    action="/expense/create"
    method="post"
  >
    <input
      class="border-[1px] border-zinc-500 px-4 py-2 rounded-md w-72 outline-none bg-transparent"
      type="text"
      name="title"
      placeholder="Title"
    />
    <input
      class="border-[1px] border-zinc-500 px-4 py-2 rounded-md w-72 outline-none bg-transparent"
      type="number"
      name="amount"
      placeholder="Amount"
    />
    <input
      class="border-[1px] border-zinc-500 px-4 py-2 rounded-md w-72 outline-none bg-transparent"
      type="text"
      name="category"
      placeholder="category"
    />
    <input
      class="border-[1px] border-zinc-500 px-4 py-2 rounded-md w-72 outline-none bg-transparent"
      type="text"
      name="remark"
      placeholder="remark"
    />
    <input
      class="border-[1px] border-zinc-500 px-4 py-2 rounded-md w-72 outline-none bg-transparent"
      type="text"
      name="paymentmode"
      placeholder="payment mode"
    />
    <button class="btn btn-block btn-openid">Submit</button>
  </form>
</div>
<%-include("./partials/footer") %>
