<%-include("./partials/header") %> <%- include("./partials/navbar") %>

<div class="text-center">
  <h1 class="opacity-30">OTP Verify</h1>
  <form action="/user/forget-password/<%= id %>" method="post">
    <input
      class="border border-slate-400 px-4 py-3 bg-transparent rounded-md w-72 outline-none"
      type="number"
      name="otp"
      placeholder="Enter a Otp"
    />
    <button class="bg-gray-600 py-3 px-2 text-white font-bold text-lg rounded">
      Verify Otp
    </button>
  </form>
</div>
<%-include("./partials/footer") %>
