<%-include("./partials/header") %> <%- include("./partials/navbar") %>
<div class="text-center">
  <h1 class="opacity-30">Set Password</h1>
  <form action="/user/set-password/<%= id %>" method="post">
    <input
      class="border border-slate-400 px-4 py-3 bg-transparent rounded-md w-72 outline-none"
      type="password"
      name="password"
      placeholder="password"
    />
    <button
      class="bg-emerald-400 py-3 px-2 text-white font-bold text-lg rounded"
    >
      Set Password
    </button>
  </form>
</div>
<%-include("./partials/footer") %>
