<%-include("./partials/header") %> <%- include("./partials/navbar") %>

<div class="text-center">
  <h1 class="opacity-30">Email verify page</h1>
  <form action="/user/forget-password" method="post">
    <input
      class="border border-slate-400 px-4 py-3 bg-transparent rounded-md w-72 outline-none"
      type="email"
      name="email"
      placeholder="Enter registered email"
    />

    <button
      class="bg-gray-600 btn py-3 px-2 text-white font-bold text-lg rounded"
    >
      Get Otp
    </button>
  </form>
  <hr />
</div>
<%-include("./partials/footer") %>
