<%-include("./partials/header") %> <%- include("./partials/navbar") %>
<h1>Homepage</h1>
<div class="ml-52 mt-20 w-fit">
  <h2 class="font-bold text-xl">Embrace the Day</h2>
  <p class="text-right mt-4 font-snug">
    With each sunrise, a chance anew, <br />
    To chase your dreams and make them true.
  </p>
</div>
<%-include("./partials/footer") %>
