<%-include("./partials/header") %> <%- include("./partials/navbar") %>
<h1>Homepage</h1>
<div class="ml-52 mt-20 w-fit">
  <h2 class="font-bold text-xl">Embrace the Day</h2>
  <p class="text-right mt-4 font-snug">
    With each sunrise, a chance anew, <br />
    To chase your dreams and make them true.
  </p>
  <br />
  <a class="text-blue-600 font-bold" href="/media/multimedia">Media</a>
</div>

<div class="rounded-lg absolute top-[25vh] right-52">
  <form
    class="flex flex-col gap-3 w-96 py-5 shadow-md  rounded-xl items-center"
    action="/user/signin"
    method="post"
  >
    <input
      class="py-3 w-80 px-2 bg-transparent outline-none border border-zinc-300 rounded-md"
      type="text"
      name="username"
      placeholder="Username"
    />
    <input
      class="py-3 w-80 px-2 bg-transparent outline-none border border-zinc-300 rounded-md"
      type="password"
      name="password"
      placeholder="password"
    />
    <button
      class="bg-[#1877F2] text-xl w-80 rounded-md py-2 px-2 font-bold text-white"
    >
      Sign In
    </button>
    <a
      class="bg-[#3DAE25] w-60 text-xl py-2 px-2 rounded-md text-center text-white font-bold"
      href="/user/register"
      >Create new account</a
    >
  </form>
</div>

<%-include("./partials/footer") %>
